body {
	font-family: Verdana;
	font-size: 14px;
	background-color: #FFFFFF;
}
#wrapper {
width: 800px;
margin: 0 auto;/*border: 2px solid #369;*/
}

#header {
width: 100%;/*border-bottom: 1px solid #369;*/
margin: 0;
padding: 0;
background-color:#b0db89;
height:80px;
line-height:80px;
padding-left:10px;
color: #333;
}

#table {
width: 100%;
border-collapse: collapse;
border: none;
}

#empty {
width: 200px; /*border-right: 1px solid #369;*/
margin: 0;
padding: 0;
}

#menu {
width: 200px;/*border-right: 1px solid #369;*/
padding: 0px;
vertical-align: top;
background:#dfeb79 ;
margin:0px 0; 
list-style-type:none;
margin-bottom:5px;
line-height: 150%;
color: #333;
font-size: 15px;
}

a:link {
    text-decoration: none;
}
a { color: inherit; } 


#content {
width: 600px;
border: none;
margin: 0;
padding: 5px;
vertical-align: top;
color: #555;
text-align: justify;
text-justify: inter-word;
}

#content a {text-decoration:underline;}

#footer {
width: 100%;/*border-top: 1px solid #369;*/
margin: 0px;
padding:5px 5px;
clear:both;
background:#BFBD93;
text-align:center;
color: #333;
text-decoration: none;
height: 40px;
}

.table td { height:150%; }
ol.lower-roman {list-style-type: lower-roman;}



